{% set prefix = 'metric-item' %}
{% set classes = [
  prefix,
  'hexagon',
  'row',
] %}

<div{{ attributes.addClass(classes) }}>
  <div class="{{ prefix }}__title col">{{ title }}</div>
  <div class="{{ prefix }}__description col">{{ description }}</div>
</div>