{{ attach_library('gtl_theme/search-item') }}
{{ attach_library('gtl_theme/social') }}
{{ attach_library('gtl_theme/custom-select') }}
{% import '@gtl_theme/icons/icons.twig' as icons %}

<section class="search-item {{ search.full_width ? 'search-item__full' : 'search-item__semi' }}">
  <div class="search-item__inner">
    {% if search.header and not search.full_width %}
      <div class="search-item__header">
        <h1>{{ search.header.text|raw }}</h1>
      </div>
    {% endif %}

    {% block search_items %}
      {% set first_item_selected = false %}

      <div class="search-item__form-container">
        <div class="nav-container" id="nav-tab-{{ search.search_id }}" role="tablist">
          <!-- Tab links -->
          <ul class="nav nav-tabs">
            {% for item in search.items %}
              {% set id = item.title|trim|clean_id %}

              <li class="nav-item" role="presentation">
                <a class="nav-link {{ item.default_search ? 'active' : '' }}"
                   id="nav-{{ id }}-tab"
                   data-toggle="tab"
                   href="#"
                   role="tab"
                   aria-controls="nav-{{ id }}"
                   data-target="tab-{{ id }}"
                   aria-selected="false">
                  {{ item.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="tab-content" id="nav-tab-content-{{ search.search_id }}">
          {% for item in search.items %}
            {% set id = item.title|trim|clean_id %}
            <div class="tab-pane {{ item.default_search ? 'active' : '' }}"
                 id="nav-{{ id }}" role="tabpanel"
                 data-tab="tab-{{ id }}"
                 aria-labelledby="nav-{{ id }}-tab">
              <form class="search-item__form" role="search" action="{{ item.redirect_url.path }}" method="{{ item.form_method }}" search-key="{{ item.search_key }}">
                <div class="search-wrapper form-item">
                  <label for="search_item-{{ id }}" class="visually-hidden sr-only">{{ item.place_holder|t }}</label>
                  <input type="search" name="search" id="search_item-{{ id }}" placeholder="{{ item.place_holder|t }}" class="search-item__input form-search" />
                  {% for key,value in item.redirect_url.query %}
                    {% if value is iterable %}
                      <input type="hidden" name="{{key}}[]" value="{{value.0}}" default-value="{{value.0}}">
                    {% else %}
                      <input type="hidden" name="{{key}}" value="{{value}}" default-value="{{value}}">
                    {% endif %}
                  {% endfor %}

                  <div class="button--wrapper">
                    <button class="btn btn--primary" type="submit">
                      <span class="sr-only">{{ 'Search'|t }}</span>
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                          viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                      <path d="M23.7,22.3l-7.6-7.5c1.4-1.6,2.1-3.7,2.1-5.8c0-5-4.1-9-9.1-9S0,4,0,9c0,5,4.1,9,9.1,9c2,0,3.9-0.6,5.5-1.8l7.7,7.6
                        c0.2,0.2,0.4,0.3,0.7,0.3c0.3,0,0.5-0.1,0.7-0.3C24.1,23.3,24.1,22.7,23.7,22.3z M14,14.1C14,14.1,14,14.1,14,14.1
                        c-1.3,1.2-3.1,1.9-4.9,1.9C5.2,16,2,12.9,2,9s3.2-7,7.1-7s7.1,3.1,7.1,7C16.2,10.9,15.4,12.7,14,14.1z"/>
                    </svg>
                    </button>
                    <div class="half--white"></div>
                  </div>
                </div>

                {% if item.additional_fields == 'digital_portal' %}
                  <div class="radio digital-portal-field form-item">
                    <input type="radio" name="query_type" value="keyword" id="query_type-keyword" checked><label for="query_type-keyword">{{ 'Keyword'|t }}</label>
                    <input type="radio" name="query_type" value="boolean" id="query_type-boolean"><label for="query_type-boolean">{{ 'Boolean'|t }}</label>
                    <input type="radio" name="query_type" value="exact_match" id="query_type-exact_match"><label for="query_type-exact_match">{{ 'Exact match'|t }}</label>
                  </div>
                {% elseif item.additional_fields == 'collection_descriptions' %}
                  <div class="collection-descriptions-field form-item">
                    <div class="search-by-wrapper">
                      <label class="highlighted-label" for="search-by">{{ 'Search by:'|t }}</label>
                      <select name="field[]" id="search-by">
                        <option value="">{{ 'Keyword'|t }}</option>
                        <option value="title">{{ 'Title'|t }}</option>
                        <option value="creators_text">{{ 'Creator'|t }}</option>
                        <option value="notes">{{ 'Notes'|t }}</option>
                        <option value="identifier">{{ 'Identifier'|t }}</option>
                      </select>
                    </div>
                    <div class="year-input-wrapper">
                      <label class="highlighted-label" id="label-year">Year:</label>
                      <input class="form-number" type="number" min="0" step="1" name="from_year[]" aria-labelledby="label-year" placeholder="{{ 'From'|t }}">
                      <input class="form-number" type="number" min="0" step="1" name="to_year[]" aria-labelledby="label-year" placeholder="{{ 'To'|t }}">
                    </div>
                  </div>
                {% elseif item.additional_fields == 'gt_publication_index' %}
                  <div class="gt-publication-index-field form-item">
                    <div class="radio" role="radiogroup" aria-labelledby="search-in">
                      <span class="highlighted-label" id="search-in">{{ 'Search in:'|t }}</span>
                      <input type="radio" id="all" name="type" value="ALL" checked><label for="all">{{ 'All Fields'|t }}</label>
                      <input type="radio" id="su" name="type" value="SU"><label for="su">{{ 'Subject'|t }}</label>
                      <input type="radio" id="ti" name="type" value="TI"><label for="ti">{{ 'Article Title'|t }}</label>
                      <input type="radio" id="jn" name="type" value="JN"><label for="jn">{{ 'Journal Title'|t }}</label>
                    </div>
                  </div>
                  <input type="hidden" id="search-query-order" name="search-query-order" value="Year">
                  <input type="hidden" id="direction" name="direction" value="desc">
                  <input type="hidden" id="number" name="number" value="20">
                {% endif %}
              </form>

              <div class="search-item__link-container">
                <span class="search-item__header">{{ 'Browse by Title A-Z:'|t }}</span>
                {% for link in item.links %}
                  <a class="search-item__link" href="{{ link.url }}">{{ link.title }}</a>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      {% if search.display_working_hours and not search.full_width %}
        <section class="search-item__hours-of-op">
          <span class="hours-statement">{{ search.operation_location|t ~ ':'}}</span> {{ "now"|date("l F j, Y") }}
          <span class="{{ search.hours_of_operation.open ? 'search-item__hours-open' : 'search-item__hours-closed' }}">
            {% if search.hours_of_operation.open %}
              <span class="search-item__icon-container">
                {{ icons.get('open-book', 'search-item___icon') }}
              </span>
            {% else %}
              <span class="search-item__icon-container">
                {{ icons.get('calendarx', 'search-item___icon') }}
              </span>
            {% endif %}
            <span class="search-item__hours-text">
              {{ search.hours_of_operation.text }}
            </span>
          </span>
        </section>
      {% endif %}
    {% endblock %}


    <div class="social-share chat-only">
      <ul>
        <li class="live-chat-button">
          {{ search.chat_code|raw }}
        </li>
      </ul>
    </div>
  </div>
</section>
