{% set prefix = 'image-card' %}
{% set classes = [
  prefix,
  variant ? prefix ~ '--' ~ variant : '',
] %}

<div{{ attributes.addClass(classes) }}>
  <div class="{{ prefix }}__image">{{ image }}</div>
  <div class="{{ prefix }}__content">
    {% if title %}
      <h3>{{ title }}</h3>
    {% endif %}

    {% if role %}
      <div class="{{ prefix }}__role">{{ role }}</div>
    {% endif %}

    {% if email %}
      <a class="{{ prefix }}__email" href="mailto:{{ email }}">{{ email }}</a>
    {% endif %}

    {% if body %}
      <div class="{{ prefix }}__body">{{ body }}</div>
    {% endif %}
  </div>
</div>
