{% set prefix = 'gallery' %}
{% set attributes = attributes.setAttribute('id', 'gallery--' ~ block_id) %}
{% set classes = [
  prefix
] %}

<div{{ attributes.addClass(classes) }}>
  <div class="container">
    {% if title %}
      <div class="{{ prefix }}_header">{{ title }}</div>
    {% endif %}
    <div class="{{ prefix }}__images row">
      {{ images }}
    </div>
  </div>
</div>
